/** Add css rules here for your application. */
#leftPanel {
	position: absolute;
	float: left;
	background-color: #333;
	width: 30%;
	height: 100%;
	padding: 0 3%;
}

#rightPanel {
	float: right;
	background-color: white;
	width: 62%;
}

.leftText {
	color: #eee;
}

.pointerHand {
	cursor: pointer;
}

.albumSongs {
	padding-left: 10px;
}

.h1 {
	display: block;
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

.cover {
	width: 13em;
	display: block;
	margin: 0 auto;
	border-radius: 15px;
	padding-bottom: 0.4em;
}

.albumView {
	background-color: #383838;
	position: relative;
	width: 80%;
	margin: 0;
	padding: 1em 2em;
}

.currentSong {
	background-color: #995599 !important;
}

.cleanItem {
	background-color: #383838;
}

.artistLabel {
	color: #999;
	font-weight: lighter;
	padding-left: 3em;
}

.coverButtonsPanel {
	width: 20em;
	padding-bottom: 1em;
}

.albumListViewText {
	font-style: italic;
	padding-left: 1em;
}

.spacing {
	padding: 1em;
}
}